body{
  padding-top:80px;
  word-wrap:break-word;
  background: url('img/background.jpg');
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */

}
img{
  height: 200px;
}

.jumbotron {
  background-color: rgba(255, 0, 0, 0.5);
}

.jumbotron h1, p {
  color: white;
}

.col-sm-6 h1 {
  color: white;
}
